#app {
	h1 {
		color: grey;
	}
	a:visited {
		color: blue;
	}
}

.form{
	.formLabel{
		display: block;
	}
	.error{
		color: red;
	}
}

.searchResults{
	list-style-type: none;
	li{
		padding-bottom: 5px;
		height: 64px;
		vertical-align:middle;
  		img{
  			height: 64px;
  		}
  		span{
  			display: inline-block;
  		}
	}
}